* {
    box-sizing: border-box;
  }


.column {
    float: right;
    width: 30%;
    padding:50px;

  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.margin {
    margin-top: 20px;
}

.vs-frame {

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 470px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #BD0000;
  display: block;
  text-align: center;
  align-items: center;
  padding: 60px;
}