/* * {
    box-sizing: border-box;
  } */

.column {
    padding-top: 5px;
  } 

.margin {
    margin-top: 20px;
    margin-bottom: 10px;
    
} 

.vs-frame {

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  /* line-height: 450px; */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #BD0000;
  display: flex;
  text-align: center;
  align-items: center;
  /* padding: 60px; */
  margin-left: 90px;
  margin-right: 90px;
}

.less_than {
  margin-left: 20px;
  font-family: Open Sans;
  width: 600px; /* the bigger the font, the wider it needs */
  /* height: 50px; */
  /* letter-spacing: 0.1em; */
  /* text-transform: uppercase; */
  text-align:left;

  color: #724C21;
  font-size: 30px; 
  font-weight: bold;
  align-items: center;
  
}

.mark-less {
  font-size: 40px;
}

.size-logo-game {
  width: 50px;
  height: 50px;
}