.batu {
    width: 88px;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    
}


.gunting {
    width: 94px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}


.kertas {
    width: 75px;
    height: 110px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  
}

/* .kertas:hover {
    width: 75px;
    height: 110px;
    
} */

.margin {
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
    align-items: center;
   
}
.margin:hover {
    margin-top: 25px;
    margin-bottom: 5px;
    background: #C4C4C4;
    border-radius: 10px;

}


.margin-grey {
    margin-top: 25px;
    margin-bottom: 5px;
    background: #C4C4C4;
    border-radius: 10px;

}




