  .login {
    text-align: left;
  }
  
  .login-header {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

  .label {
    font-size: 24px;
  }
  
  .button {
    margin-top: 10px;
  }
  
  .text {
    font-size: 60px;
  }
  
  .logo {
    width: 10px;
    height: auto;
  }
  
  .login-container{
    margin: center;
  }

  .button{
    margin: center;
    font-size: 24px;
  }

  .input{
    margin: center;
    font-size: 28px;
  }
  
  a{
    font-size: 12px;
    color: white;
    text-decoration: none;
  }